nombre {
    font-size: 2rem;
    display: block;
    border: solid 2px chocolate;
    width: 500px;
    padding: 10px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

diaEntrega {
    color: red;
    display: block;
    padding-left: 50px;
    font-size: 1.5rem;
}